{% extends "base.html" %}
{% set filename = 'beranda' %}
{% block head %}
{{ super() }}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock  %}
{% block title %}Beranda Staff{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>20</h3>
        <p>Jumlah Siswa</p>
      </div>
      <div class="icon">
        <i class="ion ion-person"></i>
      </div>
      <a href="#" class="small-box-footer">
        "More Data"
        <i class="fas fa-arrow-alt-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>20</h3>
        <p>Jumlah Guru</p>
      </div>
      <div class="icon">
        <i class="ion ion-person"></i>
      </div>
      <a href="#" class="small-box-footer">
        "More Data"
        <i class="fas fa-arrow-alt-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>20</h3>
        <p>Jumlah Siswa</p>
      </div>
      <div class="icon">
        <i class="ion ion-person"></i>
      </div>
      <a href="#" class="small-box-footer">
        "More Data"
        <i class="fas fa-arrow-alt-circle-right"></i>
      </a>
    </div>
  </div>
</div>
<div class="row">
</div>
{% endblock %}