{% extends "index.html" %}
{% set filename = 'pengguna-siswa' %}
{% block title %}Pengguna Siswa{% endblock %}

{% block css %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}


{% block body %}
<div class="card">
    <div class="card-header">
      <h3 class="card-title fa fa-users font-weight-bold text-lg"> Data Pegguna Siswa</h3>
    </div>
    <!-- /.card-header -->
        
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr align="center">
          <th>NO</th>
          <th>Username</th>
          <th>Nama</th>
          <th>Status</th>
          <th>Aksi</th>
        </tr>
        </thead>
        <tbody>
          {% for _ in model %}
          <tr align="center">
            <td>{{loop.index}}</td>
            <td>{{_.user.username}}</td>
            <td>{{_.user.first_name | title}} {{_.user.last_name | title}}</td>
            <td>
              <span class="badge {{'bg-success' if _.user.is_active == '1' else 'bg-danger'}}">{{'Aktif' if _.user.is_active == '1'}} {{'Non-Aktif' if _.user.is_active == '0'}}</span>
            </td>
            <td>
              <a href="#" class="btn btn-outline-info btn-xs" data-toggle="modal" data-target="#modal-detail{{_.id}}">
                <i class="fas fa-eye"></i>
              </a>
              <a href="#" class="btn btn-outline-warning btn-xs">
                <i class="fas fa-pencil-alt"></i>
              </a>
              <a href="#" class="btn btn-outline-danger btn-xs">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          {% include 'staff/modal/siswa/modal_detail_siswa.html' %}
          {% endfor %}
        </tbody>
        
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
{% endblock body %}


{% block js %}
 <!-- DataTables  & Plugins -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<!-- <script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script> -->
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example2").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,

    });
  });
</script>
{% endblock js %}

