{% extends "index.html" %}
{% set filename = 'tambah-siswa'  %}
{% block title %}Tambah Pengguna{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title fas fa-user-plus font-weight-bold text-lg">&nbsp;Tambah Data Siswa</h3>
    </div>

    <div class="card-body">
        <form class="form-horizontal" action="{{ url_for('staff.post_siswa') }}" method="post">
            <div class="row justify-content-around mb-3">
                <div class="col-md-11 border-bottom">
                    <h5 class="card-title font-weight-bolder mb-2">..::Data Akun::..</h5>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-5">
                   <div class="form-group row">
                    <label class="col-sm-3 col-form-label  font-weight-normal">Username :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="NISN">
                    </div>
                  </div> 
                </div>
                <!-- <div class="col-md-2"></div> -->
                <div class="col-md-5">
                   <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label font-weight-normal">Fullname :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="fullname" placeholder="Nama Lengkap">
                    </div>
                  </div> 
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-5">
                   <div class="form-group row">
                    <label class="col-sm-3 col-form-label  font-weight-normal">Username :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="NISN">
                    </div>
                  </div> 
                </div>
                <!-- <div class="col-md-2"></div> -->
                <div class="col-md-5">
                   <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label font-weight-normal">Fullname :</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="fullname" placeholder="Nama Lengkap">
                    </div>
                  </div> 
                </div>
            </div>
        
            <button type="submit">Krim</button>
        </form>
    </div>
</div>
{% endblock %}