{% extends 'base.html' %}
{% block head %}
{{ super() }}
<!-- DataTables -->
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet"
  href="{{ url_for('.static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}
{% set filename='daftar-pelanggar' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">DATA PELANGGAR</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <a href="{{ url_for('guru_bk.add_data_pelanggar') }}" class="btn btn-sm btn-primary mb-3">
              <i class="fas fa-plus"></i>
              Tambah Data
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-12">
            <table id="tabel" class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th class="text-center">No.</th>
                  <th class="text-center">Nama Siswa</th>
                  <th class="text-center">Kelas</th>
                  <th class="text-center">Melanggar</th>
                  <th class="text-center">Poin</th>
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<!-- DataTables  & Plugins -->
<script src="{{ url_for('.static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}">
</script>
<script src="{{ url_for('.static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}">
</script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('.static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- bs-custom-file-input -->
<script src="{{ url_for('.static', filename='plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>

<script>
  $(function () {
    $('#tabel').DataTable({
      processing: true
    });

  });
</script>
{% endblock js %}