<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    {# <li class="nav-item d-none d-sm-inline-block">
      <a href="../../index3.html" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link">Contact</a>
    </li> #}
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-school mr-1"></i>
        UPT SPF SMPN2 MAKASSAR
      </a>
    </li>
    {% if current_user.is_authenticated %}
    <li class="nav-item">
      <a href="#" class="nav-link" data-toggle="dropdown">
        <i class="fas fa-user-cog mr-1"></i>
        {{ current_user.first_name | title }} {{ current_user.last_name | title}}
        ( {{'Administrator' if current_user.group == 'admin' else current_user.group | title}})
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-header dropdown-item">Atur Profil</span>
        <div class="dropdown-divider"></div>
        {% if current_user.group == 'admin' %}
        <a href="#" class="dropdown-item">
          {% elif current_user.group == 'guru' %}
          <a href="{{ url_for('guru2.profile_guru') }}" class="dropdown-item">
            {% endif %}
            <i class="fas fa-user-edit"></i>
            Ubah Data
          </a>
          <div class="dropdown-divider"></div>
          {% if current_user.group == 'admin' %}
          <a href="#" class="dropdown-item">
            {% elif current_user.group == 'guru' %}
            <a href="{{ url_for('guru2.update_pswd') }}" class="dropdown-item">
              {% endif %}
              <i class="fas fa-user-lock"></i>
              Ubah Password
            </a>
            <div class="dropdown-divider"></div>
            <a href="{{ url_for('login.logout') }}" class="dropdown-item">
              <i class="fas fa-sign-out-alt mr-2"></i>
              Logout
            </a>
      </div>
    </li>

    {# <li class="nav-item">
      <a href="#" class="nav-link" data-toggle="dropdown">
        <i class="fas fa-cog"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-header dropdown-item">Settings</span>
        <div class="dropdown-divider"></div>
        <a href="{{ url_for('login.logout') }}" class="dropdown-item">
          <i class="fas fa-sign-out-alt"></i>
          Logout
        </a>
      </div>
    </li> #}
    {% endif %}
    <!-- Navbar Search -->


    <!-- Messages Dropdown Menu -->

    <!-- Notifications Dropdown Menu -->

    {# <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li> #}

  </ul>
</nav>
<!-- /.navbar -->